{{ define "navbar" }}
<header class="nav">
  <div class="nav-left">
    <a href="/" class="logo">⚡ FORUM</a>
    <a href="/" class="nav-link">Home</a>
    <a href="/categories/posts" class="nav-link">Categories</a>

    {{ if .User }}
      <a href="/posts/own" class="nav-link">My Posts</a>
      <a href="/posts/reacted?react=1" class="nav-link">Liked</a>
      <a href="/posts/reacted?react=-1" class="nav-link">Disliked</a>
    {{ end }}
  </div>

  <div class="nav-right">
    {{ if .User }}
      <span class="user">{{ .User.Username }}</span>
      <a href="/signout" class="btn neon">Logout</a>
    {{ else }}
      <a href="/signin" class="btn neon">Login</a>
      <a href="/signup" class="btn neon-outline">Sign Up</a>
    {{ end }}
  </div>
</header>
{{ end }}