{{ define "block" }}
<section class="form-page">

  <h1>Create Post</h1>

  <form action="/post/create" method="POST" class="form">

    <input type="text" name="title" placeholder="Title..." required class="input">

    <textarea name="content" placeholder="Write your post..." required class="textarea"></textarea>

    <div>
      <label>Categories</label>
      <div id="b_TagEditor" class="tag-editor"></div>
      <textarea name="categories" id="tb_TagEditor" hidden></textarea>
    </div>

    <button type="submit" class="btn neon">Create</button>

  </form>

</section>

<script src="/static/js/tag-editor.js"></script>
<script>
  const tagEditor = new TagEditor({
    BlockSelectorName: "#b_TagEditor",
    TextBlockSelectorName: "#tb_TagEditor",
    Tags: [],
    MaxTags: 5,
    MaxTagLength: 32,
  });
</script>
{{ end }}