{{define "block"}}

<section class="feed">

{{range .Posts}}

  <div class="card">

    {{if and (eq .AuthID $.User.ID) (eq .Sel.IsLike false) (eq .Sel.IsDislike false)}}
      <span>You created: <a href="/title/{{.ID}}" class="link">{{ .Title }}</a></span>

    {{else if and (eq .AuthID $.User.ID) (eq .Sel.IsLike true)}}
      <span>You created & liked: <a href="/title/{{.ID}}" class="link">{{ .Title }}</a></span>

    {{else if and (eq .AuthID $.User.ID) (eq .Sel.IsDislike true)}}
      <span>You created & disliked: <a href="/title/{{.ID}}" class="link">{{ .Title }}</a></span>

    {{else if eq .Sel.IsLike true}}
      <span>You liked: <a href="/title/{{.ID}}" class="link">{{ .Title }}</a></span>

    {{else if eq .Sel.IsDislike true}}
      <span>You disliked: <a href="/title/{{.ID}}" class="link">{{ .Title }}</a></span>
    {{end}}

  </div>

{{end}}

{{range .Comments}}

  {{if eq .AuthID $.User.ID}}
  <div class="card">
    You commented on <a href="/title/{{.PostID}}" class="link">{{ .PostName }}</a>
  </div>
  {{end}}

{{end}}

{{end}}