{{ define "block" }}

<section class="post-page">

  <article class="card">

    <h1 class="title">{{ .Post.Title }}</h1>

    <div class="meta">
      Posted by {{ .Post.AuthName }} - {{ .Post.Date }}
    </div>

    <div class="tags">
      {{range .Post.Cats}}
        <a href="/cats/{{.Name}}" class="tag">#{{.Name}}</a>
      {{end}}
    </div>

    <div class="content">
      <pre>{{.Post.FullText}}</pre>
    </div>

    {{ if .Post.IsImage }}
      <img src="{{ .Post.Image }}" class="image">
    {{ end }}

    <form action="/like" method="POST" class="votes">
      <button name="selector" value="like" class="vote">▲</button>
      {{.Post.AmountOfLikes}}
      <button name="selector" value="dislike" class="vote down">▼</button>
      {{.Post.AmountOfDislikes}}
      <input type="hidden" name="IdPOST" value="{{.Post.ID}}">
    </form>

  </article>

</section>

{{ end }}