{{ define "block"}}

<section class="post-page">

  <article class="card">

    <h1>{{ .Post.Title }}</h1>
    <div class="meta">{{ .Post.AuthName }} - {{ .Post.Date }}</div>

    <div class="content">
      <pre>{{.Post.FullText}}</pre>
    </div>

    {{ if .Post.IsImage }}
      <img src="{{ .Post.Image }}" class="image">
    {{ end }}

  </article>

  {{ if eq .User.Role 1 }}
  <div class="card">

    <form action="/saverequest" method="POST">
      <input type="hidden" name="PostId" value="{{.Post.ID}}">
      <button class="btn neon">Approve</button>
    </form>

    <form action="/deleterequest" method="POST">
      <input type="hidden" name="PostId" value="{{.Post.ID}}">
      <button class="btn danger">Reject</button>
    </form>

  </div>
  {{ end }}

</section>

{{ end}}