{{ define "block" }}

<section class="form-page">

{{ if eq .User.Role 1}}

<form action="/makerequest" method="POST" class="form">
  <input type="text" name="makereq" class="input" placeholder="Username..." list="list" required>

  <datalist id="list">
    {{range .Users}}
      <option>{{ .Nickname }}</option>
    {{end}}
  </datalist>

  <button name="role" value="user" class="btn danger">Demote</button>
  <button name="role" value="moderator" class="btn neon">Promote</button>
</form>

{{ end }}

{{ if eq .User.Role 2}}

<form action="/makerequest" method="POST" class="form">
  <span>I don't want to be a moderator</span>
  <button name="makereq" value="cancel" class="btn neon">Submit</button>
</form>

{{ end }}

</section>

{{ end }}