{{define "block"}}

<section class="feed">

{{range .Posts}}

  <div class="card">
    {{if eq .Sel.IsLike true}}
      {{.NotificUsername}} liked your post
    {{else if eq .Sel.IsDislike true}}
      {{.NotificUsername}} disliked your post
    {{end}}

    <a href="/title/{{.ID}}" class="link">{{ .Title }}</a>

    <span class="meta">{{ .NotificDate }}</span>
  </div>

{{end}}

{{range .Comments}}

  <div class="card">
    {{.NotificUsername}} commented on
    <a href="/title/{{.PostID}}" class="link">{{ .PostName }}</a>
    <span class="meta">{{.NotificDate}}</span>
  </div>

{{end}}

</section>

{{end}}